.row
  .col-6
    h6.category.text-primary Beauty Editor and Journalist
    h5.card-title The Intermedia Group Pty Ltd (Intermedia)
  .col-6
    p.card-description.small Posted 08/03/2021
    p.card-description.small Closes 19/05/2021
