extends structure

block lsidebar

block lmain
  .section.section-news
    include _news

block rmain
  .section.section-jobs
    include _jobs

  //block rsidebar
  .section.section-media-request
    include _media_request
