extends layout

block tlsidebar
  .section
    include _search

block tlmain
  .section.section-news
    include _news1

  //block trmain
    .section.section-jobs
    //include _jobs1

  //block trsidebar
    .section.section-media-request
      include _media_request

block blsidebar

block blmain
  .section.section-jobs
    include _jobs1
  //include _news1

block brmain
  .section.section-media-request
    include _media_request

  //.section.section-jobs
    include _jobs1

block brsidebar
  .section.section-media-request
    //include _media_request
