extends structure

//-
  //block lsidebar
  //- include _nav1
  //- div(style="bgcolor:red;")
  .lsidebar-header
      h3 Dashboard
  .card
    .card-header
      h6 Duncan Smith
    .card-body
      p logged in at 14:32, Tues 09 Mar 2021
      p username dsmith@telummedia.com

block lmain
  .section.section-news
    include _news

  .section.section-jobs
    include _jobs

  .section.section-media-request
    include _media_request
