extends layout

block lside
  //.section
  include _search
  hr
  include _widgets

block lmain
  //.section.section-news
  include _news2

block rmain
  //.section.section-jobs
  include _jobs2
  hr
  include _media_request

block bmain

  //block rside
  //.section.section-media-request
    include _widgets

