extends layout

block lside
  //include _nav1

block lmain
  include _news2

block rmain
  // h6 Rounders
  include _jobs2
  //hr
  include _widgets1.pug

block bmain

  include _media_request2

  //block rside
  //- img(src="images/torso_x-ray.jpg" width="100px")
