extends structure

block lsidebar
  //- include _nav1

block lmain
  h3 About
  p Telum is a 
  blockquote After completing

block rmain 
  h6 Rounders
  p Bootstrap and softballs

block rsidebar
  //- img(src="images/torso_x-ray.jpg" width="100px")