h3.title Jobs

.row
    .col-6
        .card.card-job
            .card-body
                h6.category.text-info Part-time Asia Reporter
                h5.card-title Managing IP, Euromoney
                p Posted 09/03/2021
                p Closing date 08/04/2021
        br
        .card.card-job
            .card-body
                h6.category.text-primary Beauty Editor and Journalist
                h5.card-title The Intermedia Group Pty Ltd (Intermedia)
                p Posted 08/03/2021
                p Closing date 19/05/2021
    .col-6
        .card.card-blog
            .card-body
                h6.category.text-primary Senior Journalist
                h5.card-title Swan Hill Guardian
                p Posted 07/03/2021
                p Closing date 12/04/2021
        br
        .card.card-blog
            .card-body
                h6.category.text-primary Brand Editor
                h5.card-title Offshore Recruitment
                p Posted 02/03/2021
                p Closing date 28/03/2021
    //.col-4
        .card.card-blog
            .card-body
                h6.category.text-primary Events/Awards
                h5.cart-title Event wrap-up: Telum Talks To... The Star
                p Telum recently hosted the latest edition of the Telum Talks To series, this time with Malaysia’s largest English publication, The Star.
        br
        .card.card-blog
            .card-body
                h6.category.text-primary Moves
                h5.cart-title Editor appointed at Sound Telegraph and Mandurah Coastal Times
                p Lord Alex
        br
        .card.card-blog
            .card-body
                h6.category.text-primary Moves
                h5.cart-title New Political Editor at The Advertiser
                p Susan B. Anthony
        br
        .card.card-blog
            .card-body
                h6.category.text-primary Moves
                h5.cart-title Dames Alexander Sinaga joins Xinhua News Agency
                p Dames Alexander Sinaga
