h3.title Jobs
.card
  .card-body
    .row
      .col-12
        include jobs/0
    hr
    .row
      .col-12
        include jobs/1
    hr
    .row
      .col-12
        include jobs/3
    hr
    .row
      .col-12
        include jobs/2
.row
    .col-12
        .a.btn.btn-default.btn-outline.pull-right(href="") More jobs
