.row
  .col
    .card.card-no-shadow.card-jobs-ds
      .card-title
        h3 &nbsp; Jobs
      .card-body
        .row
            .col
              include jobs/0
        hr
        .row
          .col
              include jobs/1
        hr
        .row
            .col
              include jobs/3
        hr
        .row
            .col
              include jobs/2
.row
  .col
    .a.btn.btn-default.btn-outline.pull-right(href="") More jobs
