- var newsItems = [1,2,3,4,5,6,7,8,9,10];

h1 Masonry - layout Complete
p Click to toggle item size, or re-size window

p Open Console to view
  code &nbsp;console.log

  .grid
    .grid-item
      include news/10
    .grid-item.grid-item--width2.grid-item--height2
      include news/9
    .grid-item.grid-item--height3
      include news/8
    .grid-item.grid-item--height2
      include news/7
    .grid-item.grid-item--width3
      include news/6
    .grid-item
    .grid-item
    .grid-item.grid-item--height2
    .grid-item.grid-item--width2.grid-item--height3
    .grid-item
    .grid-item.grid-item--height2
    .grid-item
    .grid-item.grid-item--width2.grid-item--height2
    .grid-item.grid-item--width2
    .grid-item
    .grid-item.grid-item--height2
    .grid-item
    .grid-item
    .grid-item.grid-item--height3
    .grid-item.grid-item--height2
    .grid-item
    .grid-item
    .grid-item.grid-item--height2

