- var n = 1

h2 News
//.grid(data-masonry='{"itemSelector": ".grid-item"}')
.grid(data-masonry='{"itemSelector": ".grid-item", "columnWidth": 400 }')


  .grid-item
    include news/1
  .grid-item
    include news/2
  .grid-item
    include news/3
  .grid-item
    include news/4
  .grid-item
    include news/5
  .grid-item
    include news/6
  .grid-item
    include news/7
  .grid-item
    include news/8
  .grid-item
    include news/9
  .grid-item
    include news/10

.row
  .col-12
    .a.btn.btn-default.btn-outline.pull-right(href="") More news
