.row
  .col
    .card.card-no-shadow.card-media-requests-ds
      .card-title
        h3 &nbsp; Media requests
      .card-body
        .row
          form
          .col
            label Name
          .col
            input.name(placeholder="Name")
        hr
        .row
          .col
            label Job title
          .col
            input.email(placeholder="Job title")
        hr
        .row
          .col
            label Media
          .col
            input.email(placeholder="Media")
        hr
        .row
          .col
            label Country / Location
          .col
            input.email(placeholder="Country/Location")
        hr
        .row
          .col
            label Work email
          .col
              input.email(placeholder="Work email")
        hr
        .row
          .col
            label Phone
          .col
            input.email(placeholder="Phone")
        hr
        .row
          .col
            label Deadline
          .col
            input.email(placeholder="dd/MMM/yyyy")
        hr
        .row
          .col
              label Subject / Focus
          .col
              textarea(placeholder="e.g. Lifestyle, restaurants, nightlife, hotels, luxury")
        hr
        .row
          .col
              label Background, or further request information
          .col
              textarea(placeholder="e.g. Looking for information regarding lifestyle events, restaurants, nightlife and hotel reviews. Please contact at...")
      .row
        .col &nbsp;
        .col
              .btn.btn-primary.btn-circle.btn-sm Submit
