.row
  .col
    .card.card-no-shadow.card-media-requests-ds
      .card-title
        h3 &nbsp; Media requests
      .card-body
        h4.text-muted Thousands of potential sources from across the region.
        ul
          li
            p.small Effective campaigns
          li
            p.small Efficient process
          li
            p.small Engaged readership

        p.small According to the National Oceanic and Atmospheric Administration, Ted Scambos, NSIDC lead scientist, puts the potentially record low maximum sea ice extent this year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.
        hr

        .row
          .col-6
            h5 Biden speaks
            .author
              img(src="images/olivia.jpg").avatar
              span Lord Alex
          .col-6
            p Washington aims high
        hr
        .row
          .col-6
            h5 Johnson shock
            .author
              img(src="images/marie.jpg").avatar
              span.card-media-requests-ds Marie Helvin
          .col-6
            p Westminster aims low
.row
  .col
    .a.btn.btn-default.btn-outline.pull-right(href="") More requests
