
.card
  .card-body.nav-main
    .row
      .col-2
        a(href="/")
        img(src="images/logo-telum-orange.png" width="")
        span.spacer(style="margin-left: 100px;") &nbsp;
        //- h6 for journalists&nbsp;&nbsp;
      .col-8
        a(href="/") Login
        span.spacer &nbsp;|&nbsp;
        a(href="Dashboard") Dashboard
        span.spacer &nbsp;|&nbsp;
        a(href="About") About
        span.spacer &nbsp;|&nbsp;
        a(href="Contact") Contact
        span.spacer(style="margin-left: 100px;") &nbsp;
        span.nav.navbar-nav.pull-right
          //h6 Duncan Smith
      .col-2
        a(href="/") User info
