
.card
  .card-body.nav-main
    a(href="/")
      img(src="images/logo-telum-orange.png" width="")
    span.spacer(style="margin-left: 100px;") &nbsp;&nbsp;
    a(href="/") Login 
    span.spacer &nbsp;|&nbsp;
    a(href="Connect") Connect 
    span.spacer &nbsp;|&nbsp;
    a(href="Organisation")  Organisation
    span.spacer &nbsp;|&nbsp;
    a(href="Consultation")  Consultation
    span.spacer &nbsp;|&nbsp;
    a(href="Packages")  Packages
    span.spacer &nbsp;|&nbsp;
    a(href="About") About
    span.spacer &nbsp;|&nbsp;
    a(href="Contact") Contact
    //- a.className#idName(href="Enquiries") Enquiries
    span.spacer(style="margin-left: 100px;") &nbsp;&nbsp;
    //- img(src="images/phone_logo.png" width="150px")