.nav-secondary
  ul.list-group
    li.list-group-item
      a.className#idName(href="Diabetes") Type 2 Diabetes
    li.list-group-item
      a.className#idName(href="HeartHealth") Heart Health
    li.list-group-item
      a.className#idName(href="IBS") Irritable Bowel Syndrome