h3.title News
.row
    .col-8
        include NewsItems/n1
    .col-4
        include NewsItems/n2
        br
        include NewsItems/n3
.row
    .col-4
        include NewsItems/n5
        br
        include NewsItems/n4
    .col-4
        include NewsItems/n6
        br
        include NewsItems/n7
    .col-4
        include NewsItems/n8
.row
    .col-12
        .a.btn.btn-default.btn-outline.pull-right(href="") More news
