h3.title News
.row
    .col-4
        include NewsItems/n1
        br
        include NewsItems/n2
    .col-4
        include NewsItems/n3
        br
        include NewsItems/n4
    .col-4
        include NewsItems/n5
        br
        include NewsItems/n6
        br
        include NewsItems/n7
        br
        include NewsItems/n8
        br
.row
    .col-12
        .a.btn.btn-default.btn-outline.pull-right(href="") More news
