.row.center-page-ds
    .col
        h3.card-title News
        .row
            .col
                include news/0
                br
                include news/1
                br
                include news/3
            .col
                include news/8
                br
                include news/9
            .col
                include news/6
                br
                include news/7
                br
                include news/2
.row
    .col
        .a.btn.btn-default.btn-outline.pull-right(href="") More news
