h3.title News

.row
    .col-4
        .card.card-blog
            img.img.rounded(src="images/news1.png" width="100%")
            .card-body
                i.trophy
                h6.category.text-info Events/Awards
                h5.card-title Winners announced at WA Media Awards
                p The winners for the 2019 WA Media Awards were announced at a gala dinner on 2nd November.
        br
        .card.card-blog
            img.img.rounded(src="images/news5.png" width="100%")
            .card-body
                h6.category.text-primary Interview
                h5.card-title Telum Talks To… Susana Tsui, CEO of Media, theAsianparent
                p theAsianparent has named Susana Tsui, former CEO of Dentsu Aegis Network China, as the new CEO of Media in September. We find out more about her role and vision for the platform for parents.

    .col-4
        .card.card-blog
            img.img.rounded(src="images/news2.jpg" width="100%")
            .card-body
                i.icon.icon-bell
                h6.category.text-primary Interview
                h5.card-title Telum Talks To… Claire Connell, Deputy Editor, JUNO
                p Telum spoke to Claire Connell about all things personal finance and investing.
        br
        .card.card-blog
            img.img.rounded(src="images/news4.jpg" width="100%")
            .card-body
                h6.category.text-success Feature
                h5 Event wrap-up: Telum Talks To... Dow Jones Newswires
                p At the latest #TelumTalksTo event, Dow Jones Newswires’ Asia Chief Editor Jacques van Wersch chatted to PR professionals about its Singapore news hub, the integrated newsroom shared with The Wall Street Journal, its audience and what the team is looking out for.
    .col-4
        .card.card-blog
            img.img.rounded(src="images/news3.jpg" width="100%")
            .card-body
                h6.category.text-info Events/Awards
                h5.cart-title Event wrap-up: Telum Talks To... The Star
                p Telum recently hosted the latest edition of the Telum Talks To series, this time with Malaysia’s largest English publication, The Star.
        br
        .card.card-blog
            .card-body
                h6.category.text-primary Moves
                h5.cart-title Editor appointed at Sound Telegraph and Mandurah Coastal Times
                p Lord Alex
        br
        .card.card-blog
            .card-body
                h6.category.text-primary Moves
                h5.cart-title New Political Editor at The Advertiser
                p Susan B. Anthony
        br
        .card.card-blog
            .card-body
                h6.category.text-primary Moves
                h5.cart-title Dames Alexander Sinaga joins Xinhua News Agency
                p Dames Alexander Sinaga

.row
    .col-12
        .a.btn.btn-default.btn-outline.pull-right(href="") More news

