h3.title News
.row.gx-20
    .col-8
        include news/0
    .col-4
        include news/9
        br
        include news/8
.row.gx-20
    .col-4
        include news/1
        br
        include news/3
    .col-4
        include news/5
        br
        include news/4
    .col-4
        include news/6
        br
        include news/7
        br
        include news/2

    .col-4
.row.gx-20
    .col-12
        .a.btn.btn-default.btn-outline.pull-right(href="") More news
