h3.title Search
.row
    .col
        form
            .input-group
                textarea.default Search
            .submit
.row
    .col
        .a.btn.btn-default.btn-outline.pull-right(href="") Search
