.row
    .col
        .card.card-no-shadow.card-search-ds
            .card-title
              h5 &nbsp; Search &nbsp;
                i.fa.fa-search.text-warning
            .card-body
              .row
                .col
                  form
                    .input-group.fit-width
                      input.text-muted.pull-center.fit-width(placeholder="search news" width="20px")
                      i.fa.fa-search.badge.badge-warning.badge-circle.submit.pull-right &nbsp;search

        .card.card-no-shadow.card-search-ds
            .card-title
              h5 &nbsp; Subscribe &nbsp;
                i.fa.fa-sign-in.text-success
            .card-body
              .row
                .col
                  form
                    .input-group.fit-width
                      input.text-muted.pull-center.fit-width(placeholder="your email" width="20px")
                      i.fa.fa-sign-in.badge.badge-warning.badge-circle.submit.pull-right &nbsp;subscribe

