h3.title News search
.row
  .col
    .card.card-collapse
      .card-header
        h6.text-muted Search news archive
      .card-body
        form.card-form-horizontal
          .input-group
            textarea.default.text-muted.pull-center enter
            .submit
      .card-footer
        .a.btn.btn-default.btn-outline.pull-right(href="") Search
