h3.title News search
.row
    .col
        .card
            .card-header
                h6.text-muted Search news archive
            .card-body
                form
                    .input-group
                        textarea.default.text-muted.pull-center enter keywords here
                    .submit
            .card-footer
                .a.btn.btn-default.btn-outline.pull-right(href="") Search
