.container
    .jumbo
    .row
        .col-xl-2.col-lg-2.col-md-3.flex-column
            block lside
        .col-xl-6.col-lg-6.col-md-6.flex-column
            block lmain
        .col-xl-2.col-lg-3.col-md-2.flex-column
            block rmain
        .col-xl-1.col-lg-1
            block rside
    .row
        .col-xl-1.col-lg-1.col-md-1.flex-column &nbsp;
        .col
            block bmain
        .col-xl-1.col-lg-1.col-md-1.flex-column &nbsp;
