.container
    .jumbo
    .row
        .col
            block lside
        .col-xl-4.col-lg-4.col-md-4.flex-column
            block lmain
        .col-xl-4.col-lg-4.col-md-4.flex-column
            block rmain
        .col
            block rside
    .row
        .col
        .col-10
            block bmain
        .col
