.container
    .jumbo
    .row
        .col
            block lside
        .col-xl-7.col-lg-7.col-md-7.flex-column
            block lmain
        .col-xl-3.col-lg-3.col-md-3.flex-column
            block rmain
        .col
            block rside
    .row
        .col
        .col-10
            block bmain
        .col
