.row
    .col
        .card.card-no-shadow.card-widgets-ds
            .card-title
                h5 &nbsp;Your saved jobs&nbsp;
                  i.fa.fa-share.text-danger.text-muted
            .card-body
                .row
                    .col
                        include jobs/saved/0
                hr
                .row
                    .col
                        include jobs/saved/1

            .card-footer
