.row
    .col
        .card.card-no-shadow.card-widgets-ds
            .card-title
                h5 &nbsp;Recently viewed&nbsp;
                  i.fa.fa-eye.text-info.text-muted
            .card-body
                .row
                    .col
                        include jobs/saved/0
                .row
                    .col
                        include jobs/saved/1
                .row
                    .col
                        include jobs/saved/2

            //.card-footer

        .card.card-no-shadow.card-widgets-ds
            .card-title
                h5 &nbsp;Popular right now&nbsp;
                    i.fa.fa-search.text-info.text-muted
            .card-body
                .row
                    .col
                        include widgets/popular/0
                .row
                    .col
                        include widgets/popular/3
                .row
                    .col
                        include widgets/popular/1

            //.card-footer
