extends layout

block content

  block banner
      include _nav0

  block body
      .jumbo.bg-danger
      .row
        .col-1
          block lsidebar
        .col-7
          .jumbo-top
          block lmain
        .col-3
          block rmain
        .col-1
          block rsidebar
      block footer
        include _footer
