extends layout

block content

  block banner
    include _nav0

  block body
      .row
        .col-1
          block lsidebar
        .col-5
          .jumbo-top
          block lmain
        .col-5
          block rmain
        .col-1
          block rsidebar
      block footer
        include _footer
