extends layout

block content

  block banner
    include _nav0

  block body
      .row
        .col-2
          block lsidebar
        .col-8
          .jumbo-top
          block lmain
        //.col-5
        //  block rmain
        .col-2
          block rsidebar
      block footer
        include _footer
