body {
  background-color: hsla(199,90%,95%,0.6);
  /*background-color: #999;*/
          /*rgba(0,0,0,0.2);*/
  /*color:rgba(20, 40, 45, .9);*/
  padding: 0;
  /*font: 14px "Nucleo Outline", "Lucida Grande", Helvetica, Arial, sans-serif;*/
  /*font-family: "Noto Sans", "Playfair Display", "Roboto", "Nunito", "Montserrat", "Helvetica Neue", Arial, sans-serif;*/
  /*font-family: "Playfair Display", "Roboto", "Nunito", "Noto Sans", "Montserrat", "Helvetica Neue", Arial, sans-serif;*/
  /*font-family: "Roboto", "Noto Sans", "Playfair Display", "Nunito", "Montserrat", "Helvetica Neue", Arial, sans-serif;*/
  /*font-family: "Nunito", "Roboto", "Noto Sans", "Playfair Display", "Montserrat", "Helvetica Neue", Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.nav-main {
   background-color: hsla(0, 100%, 100% , 1);
}
.nav-main a {
  color: hsla(30,100%,100%,1);
  font-size: 1.1em;
}
.nav-main > span {
  color: hsla(60,100%,100%,1);
  font-size: 1.1em;
}
.nav-secondary {
  background:  hsla(120, 100%, 100%, 1);
          /*#f0eedf;*/
}
.nav-secondary > ul > li {
  color: rgba(40,40,40,.8);
  background: #efedde;
}
.nav-secondary > ul > li > a {
  color: rgba(25, 95, 55, 0.9);
  font-size: 1.1em;
}
.ds .container {
   display: flex;
}
.lsidebar-header {
  padding: 10px 20px;
  margin: 20px 40px;
  background: hsla(120, 100%, 100%, 0.7);
  color: orange;
}

.rsidebar-header {
  padding: 10px 20px;
  margin: 20px 40px;
  background: hsla(120, 100%, 100%, 0.7);
  color: white;
}

.row.center-column-ds {
  background-color: hsla(0,100%,100%,1);
}

.card {
  /*font: 14px "Nucleo Outline", "Lucida Grande", Helvetica, Arial, sans-serif;*/
  /*font-family: "Noto Sans", "Playfair Display", "Roboto", "Nunito", "Montserrat", "Helvetica Neue", Arial, sans-serif;*/
  font-family: "Playfair Display", "Roboto", "Nunito", "Noto Sans", "Montserrat", "Helvetica Neue", Arial, sans-serif;
  /*font-family: "Roboto", "Noto Sans", "Playfair Display", "Nunito", "Montserrat", "Helvetica Neue", Arial, sans-serif;*/
  /*font-family: "Nunito", "Roboto", "Noto Sans", "Playfair Display", "Montserrat", "Helvetica Neue", Arial, sans-serif;*/
}

.card-jobs-ds {
  /*color: hsla(210, 100%, 10%, 0.999);*/
  background: hsla(145, 40%, 80%, .6);
}

.card-media-requests-ds {
  /*color: hsla(210, 100%, 10%, 0.999);*/
  background: hsla(245, 40%, 80%, .6);
}

.card-search-ds {
  /*color: hsla(210, 100%, 10%, 0.999);*/
  background: hsla(15, 40%, 80%, .6);
}

.card-widgets-ds {
  /*color: hsla(210, 100%, 10%, 0.999);*/
  /*background: hsla(60, 40%, 80%, .6);*/
  background: hsla(60, 45%, 60%, .6);
}

.card .card-body .nav-main a {
  color: rgba(255,255,255,1);
  border-radius: 85px;
}

.card .card-body .nav-main a {
  color: rgba(255,255,255,1);
  font-size: 1.1em;
}

.card .author .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}

.card .author span {
  color: #9A9A9A;
  background-color: white;
}

.card-background {
  background-position: center center;
  background-size: cover;
  text-align: center;
}

.card-background .card-body {
  position: relative;
  z-index: 2;
  min-height: 370px;
  max-width: 530px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.card-footer-ds {
  color: #FFFFFF;
  line-height: 1.9;
}

/* ---- grid ---- */
.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: hsla(40, 100%, 50%, .5);
  border: 1px solid #999;
  border-color: hsla(35, 100%, 50%, 0.5);
  border-radius: 15px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

.grid-item--gigante {
  width: 320px;
  height: 360px;
  background: #F90;
  z-index: 2; /* abover other items */
}

.grid-item:hover {
  background: hsla(120, 50%, 90%, .9);
  border-color: white;
  cursor: pointer;
}

.jumbo {
  margin-top: 100px;
  padding: 30px;
}

.jobs-header {
  background: hsla(360, 40%, 90%, .9);
  color: white;
}

.news-header {
  background: hsla(60, 50%, 60%, .7);
  color: white;
}

.jumbo-news-clip-text {
  font-family: "Nunito";
  font-size: 3em;
  background-image: url("../images/morocco.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbo-jobs-clip-text {
  font-family: "Nunito";
  font-size: 3em;
  background-image: url("../images/morocco.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#footer {
  background:#EEE;
  margin: 10px 0 0 0;
  padding: 0;
}

.footer {
  background:#EEE;
}
