.card.card-no-shadow
  img.img.rounded(src="images/news5.png" width="100%")
  .card-body
    h6.category.text-primary Interview
    h5.card-title Telum Talks To… Susana Tsui, CEO of Media, theAsianparent
    //p.card-description theAsianparent has named Susana Tsui, former CEO of Dentsu Aegis Network China, as the new CEO of Media in September. We find out more about her role and vision for the platform for parents.
