.card.card-no-shadow
  .card-body
    h6.category.text-primary Moves
    h5.card-title New Political Editor at The Advertiser
    .card-footer-ds
      .author
        img(src="images/julie.jpg").avatar
        span Susan B. Anthony
