.card.card-no-shadow
  .card-body
    h6.category.text-primary Moves
    h5.card-title Dames Alexander Sinaga joins Xinhua News Agency
    .card-footer-ds
      .author
        img(src="images/james.jpg").avatar
        span Dames Alexander Sinaga
