.card.card-blog
  img.img.rounded(src="images/news4.jpg" width="100%")
  .card-body
    h6.category.text-success Feature
    h5 Event wrap-up: Telum Talks To... Dow Jones Newswires
    p.card-description At the latest #TelumTalksTo event, Dow Jones Newswires’ Asia Chief Editor Jacques van Wersch chatted to PR professionals about its Singapore news hub, the integrated newsroom shared with The Wall Street Journal, its audience and what the team is looking out for.
