.card.card-no-shadow
    .card-title
        .row
            .col
                h6 &nbsp; Update lists
            .col
                i.fa.fa-times.pull-right
                h6.small.pull-right Close
        hr
    .card-body
        .row
            .col-12
                  h6.category.text-primary Selected lists
                  //p.card-description The 1bn Covid jabs will be funded by US and Japan, made in India and distributed by Australia
                  h6.text-info Last updated lists:
                  p.small APAC - Australia (329)
                  p.small APAC - Australia - Property (235)
                  p.small APAC - Japan (193)
                  p.small Arts and Culture (0)
                  p.small APAC - Hong Kong (521)
                  p.small Australasia - Auto Sector (252)
                  p.small APAC - New Zealand (73)
                  p.small APAC - Australia - Property - Core Logic MA (144)
                  p.small APAC - HK - Trade Pub (63)
                  p.small APAC - China (191)
                  i.fa.fa.bi-file-arrow-down-fill
                  p show more
    .card-no-shadow.card-footer
        hr
        .row
            .col-12
                a.btn.btn-success(href="") Update lists
                a.btn.btn-info(href="") Add to a new list
