.card.card-no-shadow
  .card-body
      .btn-group-toggle
          .btn.btn-secondary.btn-warning
              i.fa.fa-file &nbsp;
              span Add Activity
          .btn.btn-secondary.btn-danger
              i.fa.fa-list &nbsp;
              span Activity list

      .btn-group-toggle
          .btn.btn-secondary.btn-success.btn-sm
              i.fa.fa-file &nbsp;
              span Add Activity
          .btn.btn-secondary.btn-info.btn-sm
              i.fa.fa-list &nbsp;
              span Activity list

      .btn-group-toggle
          .btn.btn-success.btn-sm
              i.fa.fa-list-ol
              //span &nbsp;Duncan test 1
          .btn.btn-success.btn-sm
              i.fa.fa-tasks
              //span &nbsp;Duncan test 2

h6.category.text-primary International News
    h5.card-title News in-depth: Fukushima nuclear accident
    p.card-description Fukushima nuclear disaster haunts Japan’s climate change debate
    .card-footer-ds
      .author
        img(src="images/james.jpg").avatar
        span Dames Alexander Sinaga


