.row
  .col-6
    h6.category.text-info Part-time Asia Reporter
    h5.card-title Managing IP, Euromoney
  .col-6
    p.card-description Posted 09/03/2021
    p.card-description Closing date 08/04/2021
