.card.card-blog
  .card-body
    img.img.rounded(src="images/vaccine1.jpg" width="100%")
    h6.category.text-primary International News
    h5.card-title Quad nations to launch Asian vaccine drive to counter China
    p.card-description The 1bn Covid jabs will be funded by US and Japan, made in India and distributed by Australia
    .card-footer
      .author
        img(src="images/mike.jpg").avatar.img-raised
        span Michael Olivera
