.card.card-no-shadow
  img.img.rounded(src="images/vaccine1.jpg" width="100%")
  .card-body
    h6.category.text-primary International News
    //p.card-description The 1bn Covid jabs will be funded by US and Japan, made in India and distributed by Australia
    h5.card-title Quad nations to launch Asian vaccine drive to counter China
    .card-footer-ds.card-no-shadow
      .author
        img(src="images/mike.jpg").avatar
        span Michael Olivera
