.card.card-no-shadow
  img.img.rounded(src="images/news1.png" width="100%")
  .card-body
    i.trophy
    h6.category.text-info Events/Awards
    h5.card-title Winners announced at WA Media Awards
    //p.card-description The winners for the 2019 WA Media Awards were announced at a gala dinner on 2nd November.
  .card-footer-ds
    .author
      img(src="images/olivia.jpg").avatar
      span Lord Alex
