.card.card-no-shadow
  img.img.rounded(src="images/news2.jpg" width="100%")
  .card-body
    i.icon.icon-bell
    h6.category.text-primary Interview
    h5.card-title Telum Talks To… Claire Connell, Deputy Editor, JUNO
    //p.card-description Telum spoke to Claire Connell about all things personal finance and investing.
  .card-footer-ds
    .author
      img(src="images/olivia.jpg").avatar
      span Lord Alex
