.card.card-no-shadow
  img.img.rounded(src="images/news3.jpg" width="100%")
  .card-body
    h6.category.text-info Events/Awards
    h5.card-title Event wrap-up: Telum Talks To... The Star
    //p.card-description Telum recently hosted the latest edition of the Telum Talks To series, this time with Malaysia’s largest English publication, The Star.
