.card.card-blog
  .card-body
    h6.category.text-primary Moves
    h5.card-title Editor appointed at Sound Telegraph and Mandurah Coastal Times
    .card-footer
      .author
        img(src="images/olivia.jpg").avatar.img-raised
        span Lord Alex
