.card.card-no-shadow
  .card-body
    h6.category.text-primary Moves
    h5.card-title Editor appointed at Sound Telegraph and Mandurah Coastal Times
    .card-footer-ds
      .author
        img(src="images/olivia.jpg").avatar
        span Lord Alex
