.card.card-blog
  .card-body
    h6.category.text-primary Moves
    h5.card-title New Political Editor at The Advertiser
    .card-footer
      .author
        img(src="images/julie.jpg").avatar.img-raised
        span Susan B. Anthony
