.card.card-blog
  .card-body
    h6.category.text-primary Moves
    h5.card-title Dames Alexander Sinaga joins Xinhua News Agency
    .card-footer
      .author
        img(src="images/james.jpg").avatar.img-raised
        span Dames Alexander Sinaga
