.card.card-blog
  .card-body
    h6.category.text-primary International News
    h5.card-title News in-depth: Fukushima nuclear accident 
    p.card-description Fukushima nuclear disaster haunts Japan’s climate change debate
    .card-footer
      .author
        img(src="images/james.jpg").avatar.img-raised
        span Dames Alexander Sinaga
